<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>addgoods</title>
  <link href="base.css" rel="stylesheet">
  <script src="jquery-3.2.1.js"></script>
  <style>
    .content {
      position: relative;
      margin:auto;

    }
    .btn{
      display:block;
      position: absolute;
      padding:5px;
      top:30px;
      right:20px;
      background: #1558d3;
    }
    form{
      margin-top:50px;
      padding:20px;
      box-sizing: border-box;
      background: #ffe18b;
      border:1px solid black;
    }


  </style>
</head>
<body>
<%- message %>
<div class="content">
  <h3>添加商品</h3>
  <button class="btn"><a href="goods">返回商品页</a></button>
  <form>
    <label for="gname"></label>
    <input type="text" id="gname" name="gname" placeholder="商品名称"><br>
    <label for="gprice"></label>
    <input type="text" id="gprice" name="gprice" placeholder="商品价格"><br>
    <button class="btn-small" onclick="addGood()">添加</button>
  </form>
</div>

</body>
<script>
  function addGood() {
    var goodname = $('#gname').val(),
      gprice = $('#gprice').val(),
      imgSrc = 'xmsz-' + Math.floor(Math.random() * 5 + 1) + '.jpg'

    var data = {'goodname': goodname, goodprice: gprice, 'imgSrc': imgSrc}

    $.ajax({
      url: '/addgoods',//直接写到goods下
      type: 'post',
      data: data,
      success: function (data, status) {  //相当于xmlhttp.readyState===4
        if (status == 'success') {//相当于xmlhttp.status==200
          alert('goodname:' + goodname + "<br>" + 'price:' + gprice)
          location.href = 'goods'
        }
      },
      error: function (data, err) {
        alert('添加失败')
        location.href = 'addgoods'
      }
    })
  }
</script>
</html>